body {
    background: url(/public/images/sunset2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    overflow: hidden;
}

#result {
    transform: translateY(-330px);
}


.inputField1, .inputField2 {
    position: absolute;
    margin-top: 250px;
    margin-left: 50%;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 300px;
    border-radius: 0px;
}

.login-description1 {
    position: relative;
    transform: translate(-150px, -30px);
    z-index: 999;
}

.inputField1:focus {
    outline: none;
    background-color: transparent;
}

.inputField1:focus + .email,
.inputField1:not(:placeholder-shown) + .email {
    margin-top: 210px;
    transition: all 0.3s ease;
}

.inputField1:placeholder-shown + .email {
    margin-top: 230px;
    transition: all 0.3s ease;
}

.inputField2:focus + .password,
.inputField2:not(:placeholder-shown) + .password {
    margin-top: 210px;
    transition: all 0.3s ease;
}

.inputField2:placeholder-shown + .password {
    margin-top: 230px;
    transition: all 0.3s ease;
}


.email {
    position: absolute;
    margin-left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.centerDiv {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid white;
    width: 400px;
    height: 470px;
    backdrop-filter: blur(50px);
    transform: translate(-200px, 20px);
    border-radius: 20px;
}


.login-description2 {
    transform: translateY(70px);
    z-index: 999;
}

.inputField2:focus {
    outline: none;
    background-color: transparent;
}

input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::-ms-clear {
    display: none;
}

.password {
    position: absolute;
    margin-top: 240px;
    margin-left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    z-index: 2;
    margin-top: 280px;
    transform: translateX(125px);
    cursor: pointer;
}

.fa-envelope {
    position: absolute;
    z-index: 3;
    transform: translate(125px, 207px);
}

.logIn {
    position: absolute;
    font-family: "Mitr", serif;
    font-weight: 600;
    font-style: normal;
    z-index: 9;
    margin-left: 50%;
    transform: translate(60px, 70px);
    padding: 6px;
    width: 150px;
    text-align: center;
}


button {
    position: absolute;
    z-index: 10;
    font-size: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    transform: translate(-19px, 407px);
    width: 340px;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #fff;
    transition: all 0.5s ease;
    overflow: hidden;
    box-shadow: 0px, 0px, 10px black;
    cursor: pointer;
    color: black;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient( var(--angle), red, rgb(255, 165, 133));
    transform: scaleX(0); /* Начальное состояние */
    transform-origin: left;
    transition: all 0.5s ease;
    z-index: -1;
    animation: spin 10s linear infinite ;
}

button:hover::before {
    transform: scaleX(1);
}

button:hover {
    box-shadow: 0px 0px 10px black;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}